* {
    margin: 10px ;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h2 {
    margin-top: 30px;
}

h3 {
    margin-top: 20px;
}

sub {
    margin: 0;
}

ul {
    columns: 2;
}

ol {
    margin: 30px;
}

table {
    width: 50vw;
    border-collapse: collapse;
}

td {
    border: 1px solid;
    padding: 20px;
    text-align: center;
}

.th {
    background-color: rgb(192, 192, 209);
}

.chart {
    width: 50vw;
}

footer {
    text-align: end;
}